<app-header></app-header>  <!-- Detta lägger till headern på sidan -->

<div class="about-us-container">
  <!-- Lägg till app-header-komponenten här -->

  <header class="about-us-header">
    <h1>{{ title }}</h1>
  </header>

  <section class="about-us-content">
    <div class="about-us-info">
      <h2>Vår Mission</h2>
      <p>
        Vi strävar efter att ge den bästa filmupplevelsen till alla filmälskare över hela världen. Vår plattform erbjuder ett brett utbud av filmer från olika genrer och vi uppdaterar ständigt vårt bibliotek för att inkludera de senaste releaserna.
      </p>
    </div>

    <div class="about-us-info">
      <h2>Vårt Team</h2>
      <p>
        Vårt team består av passionerade filmskapare, designers och filmälskare som arbetar tillsammans för att bygga den ultimata filmdatabasen och recensionsplattformen. Vi tror på filmens kraft att inspirera, utbilda och underhålla människor i alla åldrar.
      </p>
    </div>

    <div class="about-us-info">
      <h2>Kontakta Oss</h2>
      <p>
        Om du har några frågor eller feedback, tveka inte att höra av dig! Du kan kontakta oss via e-post på <a href="mailto:support&#64;film.com">support&#64;film.com</a>
        .
      </p>
    </div>
  </section>
  <app-footer></app-footer> <!-- Lägg till detta -->

</div>

