<footer class="footer">
  <div class="footer-line"></div>

  <div class="footer-button">
    <button class="link-button">Get app</button>
  </div>

  <div class="social-media-icons">
    <i class="fab fa-facebook-f social-icon"></i>
    <i class="fab fa-instagram social-icon"></i>
    <i class="fab fa-tiktok social-icon"></i>
    <i class="fab fa-youtube social-icon"></i>
    <i class="fab fa-twitter social-icon"></i>
  </div>

  <div class="footer-links">
    <a routerLink="/" class="footer-link">Help</a>
    <a routerLink="/" class="footer-link">Site index</a>
    <a routerLink="/" class="footer-link">FILMPro</a>
    <a routerLink="/" class="footer-link">Box office mojo</a>
    <a routerLink="/" class="footer-link">Jobs</a>
  </div>

  <div class="footer-copyright">
    <p>© 2025 by FILM.com, Inc.</p>
  </div>
</footer>
